.cardContainer {
  padding: 0.5rem;
}

.card {
  width: 100%;
  border-style: solid;
  border-color: rgb(227, 221, 213);
  height: auto;
  padding-bottom: 1rem;
}

.card:hover {
  cursor: auto;
}

.recipeImage {
  width: 100%;
}

.countryFlag {
  height: 3rem;
  width: 3rem;
  border-radius: 5rem;
  position: absolute;
  background-color: white;
  margin: -0.6rem -2.5rem;
  object-fit: cover;
}

.cardText {
  padding: 0.6rem 1rem;
}

.seeMoreLink {
  margin: 2rem 1rem;
  padding: 2px;
  text-decoration: none;
  color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 0.2rem;
  background-color: #adc5cf;
}

.deleteBtn {
  position: relative;
  left: 0;
  top: 0;
  margin: 0 0 0 30%;
  font-size: 1.5rem;
}

.deleteBtn:hover {
  cursor: pointer;
  color: #ff0000;
}

@media only screen and (min-width: 800px) {
  .deleteBtn {
    margin: 5% 0 0 60%;
  }
}
