.contactContainer {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.contactContainer form {
  width: 40%;
}

.title {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.inputContainer label {
  margin: 0.2rem 0;
  text-align: center;
  font-size: 1.1rem;
}

.email {
  background: url(../assets/images/icons8-envelope-24.png) no-repeat scroll 4px
    3px;
  padding-left: 30px;
  height: 2rem;
}

.name {
  background: url(../assets/images/icons8-person-24.png) no-repeat scroll 4px
    1px;
  padding-left: 30px;
  height: 2rem;
}

:not(.email, .name)::placeholder {
  font-size: 1rem;
  padding: 3px 3px;
}

.buttonCont {
  display: flex;
  justify-content: center;
}

.submitButton {
  padding: 0.5rem;
  border-radius: 0.2rem;
  margin-bottom: 3rem;
}

.submitButton:hover {
  cursor: pointer;
  background-color: #adc5cf;
}
