.recipeTextContainer {
  text-align: center;
  margin: 1rem 0;
}

.title {
  font-size: 2rem;
}

.ourRecipesText {
  font-size: 1.5rem;
  padding-bottom: 0.3rem;
}

.searchInput {
  width: 60%;
  height: 1.5rem;
  margin: 1rem 0;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  height: auto;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  min-height: 3rem;
  cursor: pointer;
  margin: 0.3rem 0 6rem 0;
}
