.singleContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem 0;
  padding-bottom: 3rem;
}

.title {
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
}

.singleContainer div {
  justify-content: center;
  text-align: center;
}

.subhead {
  font-weight: bolder;
  color: #0c4a64;
}

.instructionContainer {
  margin: 0.5rem 10rem;
}

:not(.title).instructionContainer h3,
.ingredientsContainer h3 {
  text-decoration: underline;
}
