* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #ebd1dd;
  --nav-color: rgb(201, 181, 217);
  --primary-color: #c8b5d8;
  --secondary-color: #161318;
  --font: "Open Sans", sans-serif;
  --font-hero: 4rem;
  --font-title: 25px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  height: 75px;
  justify-content: space-between;
  height: 4rem;
}

.title {
  text-decoration: none;
  color: black;
  font-size: 3rem;
  padding-left: 5px;
}

header h1 {
  padding: 0 5px;
}

Nav ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  padding: 0 5px;
}

Nav a {
  text-decoration: none;
  padding: 0 5px;
  font-size: 20px;
  color: black;
}

main {
  min-height: calc(85vh - 110px);
}

.singleContainer {
  display: flex;
}

.heroBanner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.heroText {
  margin: 7rem 0 0 7rem;
}

.video {
  width: 100%;
  height: 70%;
  -o-object-fit: cover;
  object-fit: cover;
  background: #232a34;
  filter: grayscale(100%);
}

.contactContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.subHeader {
  z-index: -1;
  text-align: center;
  margin-top: 15rem;
}

.aboveFooterCards {
  z-index: -1;
  display: flex;
  justify-content: center;
}

.aboveFooterCard {
  background-color: whitesmoke;
  margin: 5px;
  padding: 2px;
  border-radius: 0.3rem;
  width: 33%;
}

.aboveFooterCards a {
  font-size: 1rem;
  font-weight: bold;
}

.aboutSubHeader {
  text-align: center;
  padding: 2rem;
}

.aboutText {
  text-align: justify;
  padding: 1rem 15rem;
  display: block;
}

Footer {
  position: fixed;
  bottom: 2%;
  left: 40%;
  align-items: center;
  height: 30px;
}
